map = (
  {
  ticker = "sc";
  exchange = "";
  info = "";
  deposit_rate = 0.05;
  contract_size = 1000;
  min_price_move = 0.1;
  cancel_limit = 500;
  is_fixed_open_fee_rate = false;
  is_fixed_close_today_fee_rate = false;
  is_fixed_close_fee_rate = false;
  open_fee_rate = 0.0001;
  close_today_fee_rate = 0.0001;
  close_fee_rate = 0.0001;
  },
  {
  ticker = "a";
  info = "";
  exchange = "";
  deposit_rate = 0.05;
  contract_size = 10;
  min_price_move = 1.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee = 2.0;
  close_today_fee = 0.0;
  close_fee = 2.0;
  },
  {
  ticker = "b";
  exchange = "";
  info = "";
  deposit_rate = 0.05;
  contract_size = 10;
  min_price_move = 1.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee = 2.0;
  close_today_fee = 2.0;
  close_fee = 2.0;
  },
  {
  ticker = "bb";
  info = "";
  exchange = "";
  deposit_rate = 0.2;
  contract_size = 500;
  min_price_move = 0.05;
  cancel_limit = 500;
  is_fixed_open_fee_rate = false;
  is_fixed_close_today_fee_rate = false;
  is_fixed_close_fee_rate = false;
  open_fee_rate = 0.0001;
  close_today_fee_rate = 0.00005;
  close_fee_rate = 0.0001;
  },
  {
  ticker = "c";
  info = "";
  exchange = "";
  deposit_rate = 0.05;
  contract_size = 10;
  min_price_move = 1.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee = 1.2;
  close_today_fee = 0.0;
  close_fee = 1.2;
  },
  {
  ticker = "cs";
  info = "";
  exchange = "";
  deposit_rate = 0.05;
  contract_size = 10;
  min_price_move = 1.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 1.5;
  close_today_fee= 0.0;
  close_fee= 1.5;
  },
  {
  ticker = "eg";
  info = "";
  exchange = "";
  deposit_rate = 0.05;
  contract_size = 10;
  min_price_move = 1.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 6.0;
  close_today_fee= 3.0;
  close_fee= 6.0;
  },
  {
  ticker = "fb";
  info = "";
  exchange = "";
  deposit_rate = 0.2;
  contract_size = 500;
  min_price_move = 0.05;
  cancel_limit = 500;
  is_fixed_open_fee_rate = false;
  is_fixed_close_today_fee_rate = false;
  is_fixed_close_fee_rate = false;
  open_fee_rate = 0.0001;
  close_today_fee_rate = 0.00005;
  close_fee_rate = 0.0001;
  },
  {
  ticker = "i";
  exchange = "";
  info = "";
  deposit_rate = 0.05;
  contract_size = 100;
  min_price_move = 0.5;
  cancel_limit = 500;
  is_fixed_open_fee_rate = false;
  is_fixed_close_today_fee_rate = false;
  is_fixed_close_fee_rate = false;
  open_fee_rate = 0.00006;
  close_today_fee_rate = 0.00003;
  close_fee_rate = 0.00006;
  },
  {
  ticker = "j";
  info = "";
  exchange = "";
  deposit_rate = 0.05;
  contract_size = 100;
  min_price_move = 0.5;
  cancel_limit = 500;
  is_fixed_open_fee_rate = false;
  is_fixed_close_today_fee_rate = false;
  is_fixed_close_fee_rate = false;
  open_fee_rate = 0.00006;
  close_today_fee_rate = 0.00003;
  close_fee_rate = 0.00006;
  },
  {
  ticker = "jd";
  info = "";
  exchange = "";
  deposit_rate = 0.08;
  contract_size = 10;
  min_price_move = 1.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = false;
  is_fixed_close_today_fee_rate = false;
  is_fixed_close_fee_rate = false;
  open_fee_rate = 0.0002;
  close_today_fee_rate = 0.0002;
  close_fee_rate = 0.0002;
  },
  {
  ticker = "jm";
  info = "";
  exchange = "";
  deposit_rate = 0.05;
  contract_size = 60;
  min_price_move = 0.5;
  cancel_limit = 500;
  is_fixed_open_fee_rate = false;
  is_fixed_close_today_fee_rate = false;
  is_fixed_close_fee_rate = false;
  open_fee_rate = 0.00006;
  close_today_fee_rate = 0.00003;
  close_fee_rate = 0.00006;
  },
  {
  ticker = "l";
  info = "";
  exchange = "";
  deposit_rate = 0.05;
  contract_size = 5;
  min_price_move = 5.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 2.0;
  close_today_fee= 0.0;
  close_fee= 2.0;
  },
  {
  ticker = "m";
  info = "";
  exchange = "";
  deposit_rate = 0.05;
  contract_size = 10;
  min_price_move = 1.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 1.5;
  close_today_fee= 0.0;
  close_fee= 1.5;
  },
  {
  ticker = "p";
  info = "";
  exchange = "";
  deposit_rate = 0.05;
  contract_size = 10;
  min_price_move = 2.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 2.5;
  close_today_fee= 0.0;
  close_fee= 2.5;
  },
  {
  ticker = "pp";
  info = "";
  exchange = "";
  deposit_rate = 0.05;
  contract_size = 5;
  min_price_move = 1.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = false;
  is_fixed_close_today_fee_rate = false;
  is_fixed_close_fee_rate = false;
  open_fee_rate = 0.00005;
  close_today_fee_rate = 0.000025;
  close_fee_rate = 0.00005;
  },
  {
  ticker = "v";
  info = "";
  exchange = "";
  deposit_rate = 0.05;
  contract_size = 5;
  min_price_move = 5.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 2.0;
  close_today_fee= 0.0;
  close_fee= 2.0;
  },
  {
  ticker = "y";
  info = "";
  exchange = "";
  deposit_rate = 0.05;
  contract_size = 10;
  min_price_move = 2.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 2.5;
  close_today_fee= 0.0;
  close_fee= 2.5;
  },
  {
  ticker = "ag";
  info = "";
  exchange = "";
  deposit_rate = 0.08;
  contract_size = 15;
  min_price_move = 1.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = false;
  is_fixed_close_today_fee_rate = false;
  is_fixed_close_fee_rate = false;
  open_fee_rate = 0.0001;
  close_today_fee_rate = 0.0001;
  close_fee_rate = 0.0001;
  },
  {
  ticker = "al";
  info = "";
  exchange = "";
  deposit_rate = 0.1;
  contract_size = 5;
  min_price_move = 5.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 3.0;
  close_today_fee= 0.0;
  close_fee= 3.0;
  },
  {
  ticker = "au";
  info = "";
  exchange = "";
  deposit_rate = 0.08;
  contract_size = 1000;
  min_price_move = 0.05;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 10.0;
  close_today_fee= 0.0;
  close_fee= 10.0;
  },
  {
  ticker = "bu";
  info = "";
  exchange = "";
  deposit_rate = 0.1;
  contract_size = 10;
  min_price_move = 2.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = false;
  is_fixed_close_today_fee_rate = false;
  is_fixed_close_fee_rate = false;
  open_fee_rate = 0.0001;
  close_today_fee_rate = 0.0001;
  close_fee_rate = 0.0001;
  },
  {
  ticker = "cu";
  info = "";
  exchange = "";
  deposit_rate = 0.09;
  contract_size = 5;
  min_price_move = 10.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = false;
  is_fixed_close_today_fee_rate = false;
  is_fixed_close_fee_rate = false;
  open_fee_rate = 0.00005;
  close_today_fee_rate = 0.0;
  close_fee_rate = 0.00005;
  },
  {
  ticker = "fu";
  info = "";
  exchange = "";
  deposit_rate = 0.2;
  contract_size = 10;
  min_price_move = 1.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = false;
  is_fixed_close_today_fee_rate = false;
  is_fixed_close_fee_rate = false;
  open_fee_rate = 0.00002;
  close_today_fee_rate = 0.00002;
  close_fee_rate = 0.00002;
  },
  {
  ticker = "hc";
  info = "";
  exchange = "";
  deposit_rate = 0.1;
  contract_size = 10;
  min_price_move = 1.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = false;
  is_fixed_close_today_fee_rate = false;
  is_fixed_close_fee_rate = false;
  open_fee_rate = 0.0001;
  close_today_fee_rate = 0.0001;
  close_fee_rate = 0.0001;
  },
  {
  ticker = "ni";
  info = "";
  exchange = "";
  deposit_rate = 0.1;
  contract_size = 1;
  min_price_move = 10.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee = 6.0;
  close_today_fee= 6.0;
  close_fee= 6.0;
  },
  {
  ticker = "pb";
  info = "";
  exchange = "";
  deposit_rate = 0.0;
  contract_size = 5;
  min_price_move = 5.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = false;
  is_fixed_close_today_fee_rate = false;
  is_fixed_close_fee_rate = false;
  open_fee_rate = 0.00004;
  close_today_fee_rate = 0.0;
  close_fee_rate = 0.00004;
  },
  {
  ticker = "rb";
  info = "";
  exchange = "";
  deposit_rate = 0.1;
  contract_size = 10;
  min_price_move = 1.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = false;
  is_fixed_close_today_fee_rate = false;
  is_fixed_close_fee_rate = false;
  open_fee_rate = 0.0001;
  close_today_fee_rate = 0.0001;
  close_fee_rate = 0.0001;
  },
  {
  ticker = "ru";
  info = "";
  exchange = "";
  deposit_rate = 0.1;
  contract_size = 10;
  min_price_move = 5.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = false;
  is_fixed_close_today_fee_rate = false;
  is_fixed_close_fee_rate = false;
  open_fee_rate = 0.000045;
  close_today_fee_rate = 0.000045;
  close_fee_rate = 0.000045;
  },
  {
  ticker = "sn";
  info = "";
  exchange = "";
  deposit_rate = 0.09;
  contract_size = 1;
  min_price_move = 10.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 3.0;
  close_today_fee= 0.0;
  close_fee= 3.0;
  },
  {
  ticker = "sp";
  info = "";
  exchange = "";
  deposit_rate = 0.0;
  contract_size = 10;
  min_price_move = 2.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = false;
  is_fixed_close_today_fee_rate = false;
  is_fixed_close_fee_rate = false;
  open_fee_rate = 0.00005;
  close_today_fee_rate = 0.0;
  close_fee_rate = 0.00005;
  },
  {
  ticker = "wr";
  info = "";
  exchange = "";
  deposit_rate = 0.2;
  contract_size = 10;
  min_price_move = 1.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = false;
  is_fixed_close_today_fee_rate = false;
  is_fixed_close_fee_rate = false;
  open_fee_rate = 0.00004;
  close_today_fee_rate = 0.00004;
  close_fee_rate = 0.00004;
  },
  {
  ticker = "zn";
  info = "";
  exchange = "";
  deposit_rate = 0.1;
  contract_size = 5;
  min_price_move = 5.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 3.0;
  close_today_fee= 0.0;
  close_fee= 3.0;
  },
  {
  ticker = "AP";
  info = "";
  exchange = "";
  deposit_rate = 0.07;
  contract_size = 10;
  min_price_move = 1.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 0.5;
  close_today_fee= 0.0;
  close_fee= 0.5;
  },
  {
  ticker = "CF";
  info = "";
  exchange = "";
  deposit_rate = 0.05;
  contract_size = 5;
  min_price_move = 5.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 4.3;
  close_today_fee= 0.0;
  close_fee= 4.3;
  },
  {
  ticker = "CY";
  info = "";
  exchange = "";
  deposit_rate = 0.0;
  contract_size = 5;
  min_price_move = 5.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 4.0;
  close_today_fee= 4.0;
  close_fee= 4.0;
  },
  {
  ticker = "FG";
  info = "";
  exchange = "";
  deposit_rate = 0.05;
  contract_size = 20;
  min_price_move = 1.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 3.0;
  close_today_fee= 0.0;
  close_fee= 3.0;
  },
  {
  ticker = "JR";
  info = "";
  exchange = "";
  deposit_rate = 0.05;
  contract_size = 20;
  min_price_move = 1.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee = 3.0;
  close_today_fee = 3.0;
  close_fee = 3.0;
  },
  {
  ticker = "LR";
  info = "";
  exchange = "";
  deposit_rate = 0.05;
  contract_size = 20;
  min_price_move = 1.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = false;
  is_fixed_close_fee_rate = true;
  open_fee = 3.0;
  close_today_fee_rate = 0.0;
  close_fee = 3.0;
  },
  {
  ticker = "MA";
  info = "";
  exchange = "";
  deposit_rate = 0.0;
  contract_size = 10;
  min_price_move = 1.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 1.4;
  close_today_fee= 0.0;
  close_fee= 1.4;
  },
  {
  ticker = "OI";
  info = "";
  exchange = "";
  deposit_rate = 0.05;
  contract_size = 10;
  min_price_move = 1.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 2.5;
  close_today_fee= 0.0;
  close_fee= 2.5;
  },
  {
  ticker = "PM";
  info = "";
  exchange = "";
  deposit_rate = 0.05;
  contract_size = 50;
  min_price_move = 1.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 5.0;
  close_today_fee= 5.0;
  close_fee= 5.0;
  },
  {
  ticker = "RI";
  info = "";
  exchange = "";
  deposit_rate = 0.05;
  contract_size = 20;
  min_price_move = 1.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 2.5;
  close_today_fee= 2.5;
  close_fee= 2.5;
  },
  {
  ticker = "RM";
  info = "";
  exchange = "";
  deposit_rate = 0.05;
  contract_size = 10;
  min_price_move = 1.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 1.5;
  close_today_fee= 0.0;
  close_fee= 1.5;
  },
  {
  ticker = "RS";
  info = "";
  exchange = "";
  deposit_rate = 0.05;
  contract_size = 10;
  min_price_move = 1.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 2.0;
  close_today_fee= 2.0;
  close_fee= 2.0;
  },
  {
  ticker = "SF";
  info = "";
  exchange = "";
  deposit_rate = 0.05;
  contract_size = 5;
  min_price_move = 2.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 3.0;
  close_today_fee= 0.0;
  close_fee= 3.0;
  },
  {
  ticker = "SM";
  info = "";
  exchange = "";
  deposit_rate = 0.0;
  contract_size = 5;
  min_price_move = 2.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 3.0;
  close_today_fee= 0.0;
  close_fee= 3.0;
  },
  {
  ticker = "SR";
  info = "";
  exchange = "";
  deposit_rate = 0.05;
  contract_size = 10;
  min_price_move = 1.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 3.0;
  close_today_fee= 0.0;
  close_fee= 3.0;
  },
  {
  ticker = "TA";
  info = "";
  exchange = "";
  deposit_rate = 0.05;
  contract_size = 5;
  min_price_move = 2.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 3.0;
  close_today_fee= 3.0;
  close_fee= 3.0;
  },
  {
  ticker = "WH";
  info = "";
  exchange = "";
  deposit_rate = 0.05;
  contract_size = 20;
  min_price_move = 1.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 2.5;
  close_today_fee= 0.0;
  close_fee= 2.5;
  },
  {
  ticker = "ZC";
  info = "";
  exchange = "";
  deposit_rate = 0.05;
  contract_size = 100;
  min_price_move = 0.2;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 4.0;
  close_today_fee= 0.0;
  close_fee= 4.0;
  },
  {
  ticker = "IC";
  info = "";
  exchange = "";
  deposit_rate = 0.3;
  contract_size = 200;
  min_price_move = 0.2;
  cancel_limit = 500;
  is_fixed_open_fee_rate = false;
  is_fixed_close_today_fee_rate = false;
  is_fixed_close_fee_rate = false;
  open_fee_rate = 0.000023;
  close_today_fee_rate = 0.000345;
  close_fee_rate = 0.000023;
  },
  {
  ticker = "IF";
  info = "";
  exchange = "";
  deposit_rate = 0.2;
  contract_size = 300;
  min_price_move = 0.2;
  cancel_limit = 500;
  is_fixed_open_fee_rate = false;
  is_fixed_close_today_fee_rate = false;
  is_fixed_close_fee_rate = false;
  open_fee_rate = 0.000023;
  close_today_fee_rate = 0.000345;
  close_fee_rate = 0.000023;
  },
  {
  ticker = "IH";
  info = "";
  exchange = "";
  deposit_rate = 0.2;
  contract_size = 300;
  min_price_move = 0.2;
  cancel_limit = 500;
  is_fixed_open_fee_rate = false;
  is_fixed_close_today_fee_rate = false;
  is_fixed_close_fee_rate = false;
  open_fee_rate = 0.000023;
  close_today_fee_rate = 0.000345;
  close_fee_rate = 0.000023;
  },
  {
  ticker = "T";
  info = "";
  exchange = "";
  deposit_rate = 0.02;
  contract_size = 10000;
  min_price_move = 0.01;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 3.0;
  close_today_fee= 0.0;
  close_fee= 3.0;
  },
  {
  ticker = "TF";
  info = "";
  exchange = "";
  deposit_rate = 0.012;
  contract_size = 10000;
  min_price_move = 0.01;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 3.0;
  close_today_fee= 3.0;
  close_fee= 3.0;
  },
  {
  ticker = "TS";
  info = "";
  exchange = "";
  deposit_rate = 0.005;
  contract_size = 20000;
  min_price_move = 0.01;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 3.0;
  close_today_fee= 0.0;
  close_fee= 3.0;
  }
);
