*~
.lock-waf_linux2_build
data.txt
analyse/data.txt
.waf*
.lock-waf*
.unittest-gtest/*
tools/waf-plugins/*.pyc
build/*
*pyc
*.swp
*.log
*.out
*.swp
*.pyc
.lock-waf_linux2_build
src/build-*
*.pro.user
core.*
external/common/include/*.cpp
external/common/include/struct/*.cpp
external/common/include/core/*.cpp
external/common/include/util/*.cpp
