time_controller : 
{
  sleep_time = [ "10:14:20-10:30:00", "11:29:20-13:30:00", "03:58:20-08:55:00" ];
  close_time = [ "14:00:59-14:59:00", "23:00:00-23:59:59" ];
  force_close_time = [ "16:59:59-17:30:00" ];
};
legend = "nf:rg3:am50:mhc:*";
backtest_out_file = "backtest_record";
strategy = ( 
  {
    unique_name = "AP";
    max_position = 5;
    range_width = 1.5;
    min_train_samples = 600;
    cancel_threshhold = 1000000000;
    min_range = 4.0;
    min_profit = 1.0;
    add_margin = 5.0;
    spread_threshold = 3.0;
    stop_loss_margin = 1.0;
    max_loss_times = 2;
    max_holding_sec = 144000000;
    pairs = ( "AP905", "AP910" );
  }, 
  {
    unique_name = "CF";
    max_position = 5;
    range_width = 1.0;
    min_train_samples = 600;
    cancel_threshhold = 1000000000;
    min_range = 4.0;
    min_profit = 1.0;
    add_margin = 1.0;
    spread_threshold = 3.0;
    stop_loss_margin = 1.0;
    max_loss_times = 2;
    max_holding_sec = 3600000;
    pairs = ( "CF905", "CF909" );
  }, 
  {
    unique_name = "FG";
    max_position = 5;
    range_width = 1.0;
    min_train_samples = 600;
    cancel_threshhold = 1000000000;
    min_range = 4.0;
    min_profit = 1.0;
    add_margin = 1.0;
    spread_threshold = 3.0;
    max_holding_sec = 36000000;
    stop_loss_margin = 1.0;
    max_loss_times = 2;
    pairs = ( "FG905", "FG909" );
  }, 
  {
    unique_name = "MA";
    max_position = 5;
    range_width = 1.0;
    min_train_samples = 600;
    cancel_threshhold = 1000000000;
    min_range = 4.0;
    min_profit = 1.0;
    add_margin = 1.0;
    spread_threshold = 3.0;
    max_holding_sec = 36000000;
    stop_loss_margin = 1.0;
    max_loss_times = 2;
    pairs = ( "MA905", "MA909" );
  }, 
  {
    unique_name = "OI";
    max_position = 5;
    range_width = 1.0;
    min_train_samples = 600;
    cancel_threshhold = 1000000000;
    min_range = 4.0;
    min_profit = 1.0;
    add_margin = 1.0;
    spread_threshold = 3.0;
    max_holding_sec = 36000000;
    stop_loss_margin = 1.0;
    max_loss_times = 2;
    pairs = ( "OI905", "OI909" );
  }, 
  {
    unique_name = "fu";
    max_position = 5;
    range_width = 1.0;
    min_train_samples = 600;
    cancel_threshhold = 1000000000;
    min_range = 4.0;
    min_profit = 1.0;
    add_margin = 1.0;
    spread_threshold = 3.0;
    max_holding_sec = 1640261632;
    stop_loss_margin = 1.0;
    max_loss_times = 2;
    pairs = ( "fu1905", "fu1909" );
  }, 
  {
    unique_name = "cu";
    max_position = 5;
    range_width = 2.0;
    min_train_samples = 600;
    cancel_threshhold = 1000000000;
    min_range = 4.0;
    min_profit = 1.0;
    add_margin = 1.0;
    spread_threshold = 3.0;
    max_holding_sec = 3600000;
    stop_loss_margin = 1.0;
    max_loss_times = 2;
    pairs = ( "cu1905", "cu1904" );
  }, 
  {
    unique_name = "au";
    max_position = 5;
    range_width = 2.0;
    min_train_samples = 600;
    min_range = 4.0;
    min_profit = 1.0;
    add_margin = 1.0;
    spread_threshold = 3.0;
    max_holding_sec = 3600000;
    stop_loss_margin = 1.0;
    max_loss_times = 2;
    pairs = ( "au1906", "au1908" );
  }, 
  {
    unique_name = "ni";
    max_position = 50;
    range_width = 2.0;
    min_train_samples = 600;
    min_range = 4.0;
    min_profit = 1.0;
    add_margin = 3.0;
    spread_threshold = 3.0;
    max_holding_sec = 3600000;
    stop_loss_margin = 1.0;
    max_loss_times = 2;
    pairs = ( "ni1905", "ni1906" );
  }, 
  {
    unique_name = "IH";
    max_position = 2;
    range_width = 2.0;
    min_train_samples = 600;
    min_range = 4.0;
    min_profit = 1.0;
    add_margin = 3.0;
    spread_threshold = 3.0;
    max_holding_sec = 360000000;
    stop_loss_margin = 1.0;
    max_loss_times = 2;
    pairs = ( "IH1904", "IH1906" );
  }, 
  {
    unique_name = "IF";
    max_position = 2;
    range_width = 2.0;
    min_train_samples = 600;
    min_range = 4.0;
    min_profit = 1.0;
    add_margin = 3.0;
    spread_threshold = 3.0;
    max_holding_sec = 360000000;
    stop_loss_margin = 1.0;
    max_loss_times = 2;
    pairs = ( "IF1904", "IF1906" );
  }, 
  {
    unique_name = "IC";
    max_position = 2;
    range_width = 2.0;
    min_train_samples = 600;
    min_range = 4.0;
    min_profit = 1.0;
    add_margin = 3.0;
    spread_threshold = 3.0;
    max_holding_sec = 360000000;
    stop_loss_margin = 1.0;
    max_loss_times = 2;
    pairs = ( "IC1904", "IC1906" );
  } );
data_file = [ "/running/quant/data/Ali/2019-03-22/IC" ];
matcher_mode = "c++";
message_line = 100000;
